.dashboard-card {
  background-color: #1a1b1e;
  color: #fff;
  padding: 44px 28px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
}
.dashboard-cardIcon{
    font-size: 40px !important;
    color: var(--secondary-color);
    background-color: #203FC733;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px; 
    padding: 11px;
    width: 64px;
    height: 64px;
}
.dashboard-container{
    max-width: 76rem;
    margin: 0 auto;
}