@import "./responsive.css";
@import "./variables.css";
@import "./Auth.css";

body {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
}

a {
  text-decoration: none !important;
}
:root {
  --primary-color: #3252df;
}


