@import "./responsive.css";
@import "./variables.css";
@import "./Auth.css";
@import "./AdminPortal.css";
@import "./NotFound.css";
@import "./dashboard.css";
@import "./profile.css";

body {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
}

a {
  text-decoration: none !important;
}
:root {
  --primary-color: rgba(50, 82, 223, 0.3);
  --secondary-color :#203FC7;
}

.Primary-color {
  color: var(--primary-color);
}

.nav-link {
  text-decoration: none;
  color: white;
  display: block;
}

.nav-link .MuiListItem-root {
  border-left: 4px solid transparent;
  border-radius: 0 4px 4px 0;
}

.nav-link.active-link .MuiListItem-root {
  background-color: rgba(255, 255, 255, 0.15);
  border-left: 4px solid white;
}
