@import "./responsive.css";
@import "./variables.css";

.error-reset {
  color: red !important;
  font-weight: bold !important;
  cursor: pointer;
}

.send-email {
  display: flex;
  align-items: center;
  gap: 8px;
}
